body, button, select {
  font-family: "Segoe UI", Helvetica, sans-serif;
}
body {
  font-size: 16px;
  background-color: #FDF7EF;
  text-align: center;
  color: #2C2C31;
}
* {
  box-sizing: border-box;
}
main {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.himari-app fieldset {
  border: none;
}

main > header, main > footer {
  text-align: center;
}
main > header img, main > footer img {
  max-width: 200px;
  height: auto;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.actions form {
  margin-bottom: 8px;
}
.actions button {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #4E6994;
  border-radius: 4px;
  background: #4E6994;
  color: #FFF;
  padding: 12px 28px;
  cursor: pointer;
}
.actions button:disabled {
  color: #eee;
  background: #2a384f;
}

.spinner {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin-top: 30px;
}

.notice {
  background-color: white;
  border: 1px #bfa88a solid;
  border-radius: 4px;
  padding: 4px;
  margin: 12px;
  margin-bottom: 24px;
}

footer, footer a, footer a:visited {
  color: #5e5e6b;
}

.d-none {
  display: none;
}
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}
