name: pr

on:
  pull_request:

jobs:
  himari-rspec:
    runs-on: ubuntu-latest
    name: himari rspec (${{ matrix.ruby }})
    strategy:
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'

    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rspec
      working-directory: himari
